/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 70px;
  border: 1px solid #007bff;
  border-bottom: 0;
}

.btn {
  display: inline-block;
  color: #333;
  border: 1px solid #007bff;
  transition: all 0.3s;
  margin: 18px 81px 62px 139px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 20px;
  cursor: pointer;
  background-color:  transparent;
}

.btn:hover {
  color: #fff;
  background-color: #007bff;
}

section {
  padding: 120px 0;
}

.section-header {
  margin-bottom: 75px;
}

.section-header h2 {
  color: #333;
  font-size: 1.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* header styles */

.main-header {
  height: 70vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .header-content {
  text-align: center;
}

.main-header .header-content h1 {
  font-size: 4.2em;
  color: #007bff;
  text-transform: uppercase;
  margin: 10px 10px 10px 44px;
  text-align: center;
}

.main-header .header-content p {
  color: #333;
  font-size: 1.3em;
  margin: 37px 0px 17px 44px;
}

.main-header .header-content p span {
  color: #007bff;
}

/* menu styles */


.main-menu {
  background-color: #007bff;
}

.main-menu ul {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.main-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: all 0.3s;
}

.main-menu ul li a:hover {
  color: #007bff;
  background-color: #fff;
}

/* about styles */

.me {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.about {
  text-align: center;
}

.about p {
  text-align: center;
  color: #777;
  margin: 30px -9px 43px 21px;
  line-height: 2;
  font-size: 1.1em;
}

.about .fed {
  font-size: 2em;
  font-weight: 900;
  margin: 13px 10px 41px 71px;
}

/* portfolio styles */

.portfolio {
  background-color: #f2f1ed;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item {
  flex-basis: 25%;
  height: 200px;
  position: relative;
}

.portfolio-wrapper .portfolio-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-wrapper .portfolio-item h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.8);
  margin: 0;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  opacity: 0;
  transition: all 0.3s;
}

.portfolio-wrapper .portfolio-item h3:hover {
  opacity: 1;
}

/* Contact section Styles */


.contact form {

  max-width: 700px;
  margin: 40px auto 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact input[type="text"],
.contact input[type="email"] {

  flex-basis: 48%;
  padding: 15px;
  margin-bottom: 15px;
}



.contact textarea {
  flex-basis: 100%;
  padding: 15px;
  margin-bottom: 15px;
  height: 100px;
}

.contact input[type="submit"] {

  margin: 10px 300px;
}


.social-links {
  text-align: center;
  margin-top: 75px;
}

.social-links .social-link {
  font-size: 2.5em;
  color: #007bff;
  transition: all 0.3s;
  display: inline-block;
  margin: 0 20px;
}

.social-links .social-link:hover {
  color: #777;
}

/* main footer styles */

.main-footer {
  background-color: #f2f1ed;
  padding: 30px;
  text-align: center;
  color: #777;
}


/* Responsive styles */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
}
.me {
  height: 700px;
}
}

@media (max-width: 992px) {
.container {
    max-width: 768px;
}

.portfolio-wrapper .portfolio-item {
  flex-basis: 50%;
}
.me {
  height: 600px;
}
}

@media (max-width: 768px) {

  .container {
      max-width: 95%;
  }

  .portfolio-wrapper .portfolio-item {
      flex-basis: 100%;
  }
  .me {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .main-header .main-header-content h1 {
      font-size: 3em;
  }

  .about .about-img  {
      max-height: 200px;
      max-width: 200px;
  }

  .contact input[type="text"],
  .contact input[type="email"] {
      flex-basis: 100%;
  }


  label[for="drop-nav"] {
      display: block;
      padding: 14px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: right;
      cursor: pointer;
  }

  .main-menu ul {
      display: none;
  }

  #drop-nav:checked + ul {
      display: block;
  }

  .main-menu ul .menu-item {
      display: block;
      text-align: right;
      margin: 0;
  }

  .me {
    height: 300px;
  }
}